{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'plant:marketplace_plants' %}" class="btn custom-back-btn">Back to the Marketplace</a>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card create-trade-card px-0 my-3">
            <div class="card-header text-center trade-card-header">
                <h5>Choose some plants to offer for trade</h5>
                <h6 class="card-subtitle">(You can offer multiple plants for the trade. Only one will be chosen.)</h6>
            </div>
            <div class="card-body">
                <div class="row justify-content-center mt-3 mb-5">
                    <div class="col d-flex justify-content-center">
                        <form id="create_trade_form" method="POST"action="{% url 'trade:create_trade_new' seller_plant_pk %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in form %}
                                <!-- handling method(s) -->
                                {% if field.name == 'handling_methods' and field|length != 1 %}
                                    <!-- if seller offering both shipping and pickup, or doesn't specify handling , show the handling methods fields-->
                                    <h4>Choose a handling method:</h4>
                                    {{ field | as_crispy_field }}
                                {% elif field.name == 'addresses' %}
                                    <!-- if both handling methods offered by the seller, remove the address div from the DOM until the requester checks the "shipping" option-->
                                    {% if form.handling_methods|length > 1 %}
                                        <div id="address_div" style="display:none">
                                    {% else %}
                                        <!-- if seller_plant only offers shipping but not pickup, add the address div to the DOM-->
                                        <div id="address_div" style="display:block">
                                    {% endif %}
                                            <h4>Choose an address:</h4>
                                            {{ field | as_crispy_field }}
                                            <a id="openAddressLink" href="{% url 'order:address_create' %}" target="popup" onclick="openAddressWindow()">Add new address</a>
                                        </div>
                                {% else %}
                                    {{ field | as_crispy_field }}
                                {% endif %}
                            {% endfor %}
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn custom-btn mt-3">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

<!-- add address field for trade requests with shipping -->
<script>
    // gets the addresses for the trade requester, adds an address drop-down field to the create trade form
    function get_addresses() {
        // get the shipping_option element. It is always the first element with id starting with "id_handling_method"
        let shipping_option = document.querySelectorAll('[id ^="id_handling_methods"]')[0];
        let pickup_option = document.getElementById('id_handling_methods_1');
        let address_div = document.getElementById('address_div');
        let form_address_select_field = document.getElementById('id_addresses');
        if (shipping_option) {
            // if there is a pickup option, initially set addresses to not required
            form_address_select_field.required = !pickup_option;
            // if the shipping option is checked or unchecked, add the address_div to the DOM and make addresses required (checked) / not required (unchecked)
            shipping_option.addEventListener('change', function () {
                if (shipping_option.checked) {
                    address_div.style.display = 'block';
                    form_address_select_field.required = true;
                } else {
                    // if the shipping option is unchecked, remove the required attribute from the addresses field
                    address_div.style.display = 'none';
                    form_address_select_field.required = false;
                }
            })
        }
    }

    // Opens new window to add a new address Form, refreshes page upon close
    let openAddressLink = document.getElementById('openAddressLink');
    function openAddressWindow() {
        let address_url = openAddressLink.href;
        window.open(address_url, 'window', 'toolbar=no, menubar=no, resizable=yes, width=600, height=600');
    }
    document.addEventListener("DOMContentLoaded", get_addresses);
</script>

{% endblock content %}


