{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 p-5">
            {% if user.is_authenticated %}
                <h3>{{ user.get_username }}'s Trades</h3>
                <br/>

                <div>
                    <h4>Pending Trades</h4>
                    {% if trades_pending %}
                        {% for trade in trades_pending %}
                        <div class="row mb-3">
                            <div class="card col-md-12 p-5 shadow-sm">
                                <h5>trade id #{{trade.pk}} : Seller: {{ trade.seller.get_username }}, Buyer: {{ trade.buyer.get_username }}</h5>
                                <a class="stretched-link" href="{% url 'trade:trade' trade.pk %}"></a>
                            </div>
                        </div>
                       {% endfor %}
                    {% else %}
                        <h5>There are no pending trades</h5>
                        <br/>
                    {% endif %}
                </div>


                <div>
                    <h4>Closed Trades</h4>
                    {% if trades_closed %}
                        {% for trade in trades_closed %}
                        <div class="row mb-3">
                            <div class="card col-md-12 p-5 shadow-sm">
                                <h5>trade id #{{trade.pk}} : Seller: {{ trade.seller.get_username }}, Buyer: {{ trade.buyer.get_username }}</h5>
                                <h6>Status: {{trade.get_trade_status_display}}</h6>
                                <a class="stretched-link" href="{% url 'trade:trade' trade.pk %}"></a>
                            </div>
                        </div>
                       {% endfor %}
                    {% else %}
                       <h5>There are no closed trades</h5>
                    {% endif %}
                </div>

            {% else %}
                <h3>Login to see your trades</h3>
            {% endif %}
        </div>
</div>
{% endblock content %}