{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}

<!-- if the trade has been accepted, show a message letting the requester and seller know to coordinate receipt -->
{% if trade.trade_status == 'AC' %}
<div class="container m-3">
    <div class="alert alert-success text-center">
        {% if request.user == trade.buyer %}
            <h4>Congratulations, {{ trade.seller.get_username|capfirst }} has accepted your trade request!</h4>
        {% elif request.user == trade.seller %}
            <h4>Congratulations on accepting {{ trade.buyer.get_username|capfirst }}'s trade request!</h4>
        {% endif %}
        <p class="mb-0">Coordinate the receipt of the plants by using the messaging feature below</p>
    </div>
</div>
{% endif %}

<div class="container d-flex justify-content-center m-3">

    <div class="card">
        <!-- Header for Trade # and Trade Status -->
        <h6 class="card-header trade-card-header">
            <div class="row">
                <div class="col">
                    <h5>Trade #: {{ trade.pk }}</h5>
                </div>
                <div class="col d-flex justify-content-end">
                    {% if trade.trade_status != 'AC' %}
                    <h5>Trade Status: {{ trade.get_trade_status_display }}</h5>
                    <!-- if the trade has been accepted, show accepted plant name and handling method -->
                    {% elif trade.trade_status == 'AC' %}
                        {% for trade_item in trade_item_list %}
                            {% if trade_item.chosen_flag %}
                            <div class="col text-center trade-status-col">
                                <div class="row">
                                    <h5>Trade Status:</h5>
                                </div>
                                <div class="row">
                                    <p class="mb-0">{{ trade.get_trade_status_display }}</p>
                                </div>
                            </div>
                            <div class="col text-center trade-status-col">
                                <div class="row">
                                    <h5>Accepted Plant:</h5>
                                </div>
                                <div class="row">
                                    <p class="mb-0">{{ trade_item.user_plant.plant.scientific_name|capfirst }}</p>
                                </div>
                            </div>
                            <div class="col text-center">
                                <div class="row">
                                    <h5>Handling:</h5>
                                </div>
                                <div class="row">
                                    <p class="mb-0">{{ trade.get_accepted_handling_method_display }}</p>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </h6>

        <div class="card-body">
            <!-- show message if no trade items exist -->
            {% if trade_item_list.all.count == 0 %}
            <p>No Trade Items</p>
            {% endif %}

            <!-- Show the trade request -->
            <div class="container bg-white p-1 d-flex justify-content-center">
                <!-- Show what buyer is requesting from trader -->
                {% for trade_item in trade_item_list %}
                    {% if trade_item.user_plant.user == trade.seller %}
                        <div class="col m-2 align-self-center">
                            <p class="card-text text-center">
                                {% if not trade_item.user_plant.is_for_pickup and not trade_item.user_plant.is_for_shipping %}
                                    <em>{{ trade.seller.get_username|capfirst }} has not specified a handling method</em>
                                {% else %}
                                    Available for:
                                    {% if trade_item.user_plant.is_for_pickup %}
                                        <em>Pickup</em>
                                    {% endif %}
                                    {% if trade_item.user_plant.is_for_shipping %}
                                        {% if trade_item.user_plant.is_for_pickup %}
                                        <em>  |  </em>
                                        {% endif %}
                                        <em>Shipping</em>
                                    {% endif %}
                                {% endif %}
                            </p>
                            <div class="card border-white">
                                <img class="card-img-top marketplace-plant-img px-0" src="{% if trade_item.user_plant.image_url != '' %} {{ trade_item.user_plant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
                                <div class="card-body px-0 text-center">
                                    <p class="card-text">{{ trade.buyer.get_username|capfirst }} is requesting a trade for {{ trade.seller.get_username|capfirst }}'s {{ trade_item.user_plant.plant.scientific_name|capfirst }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Trade arrows icon -->
                <div class="col px-3 align-self-center d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </div>

                <!-- Show all plants buyer is offering -->
                <div class="col m-2">
                    <p class="card-text text-center">
                        Requested handling:
                        {% if trade.is_offered_for_pickup %}
                            <em>Pickup</em>
                        {% endif %}
                        {% if trade.is_offered_for_shipping %}
                            {% if trade.is_offered_for_pickup %}
                                <em>  |  </em>
                            {% endif %}
                            <em>Shipping</em>
                        {% endif %}
                    </p>
                    {% for trade_item in trade_item_list %}
                        {% if trade_item.user_plant.user == trade.buyer %}
                        <div class="row">
                            <div class="card border-white">
                                {% if trade_item.chosen_flag %}
                                <img src="{% static 'images/chosen_trade_plant.png' %}" style="position: absolute;" class="img-fluid rounded-start user-card-icon">
                                {% endif %}
                                <img class="card-img-top marketplace-plant-img px-0" src="{% if trade_item.user_plant.image_url != '' %} {{ trade_item.user_plant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
                                <div class="card-body px-0 text-center">
                                    <p class="card-text">{{ trade.buyer.get_username|capfirst }} is offering {{ trade_item.user_plant.plant.scientific_name|capfirst }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Display requester's address, if specified -->
            {% if trade.requester_address and trade.accepted_handling_method != 'PI' %}
                <hr>
                <div class="row">
                    <div class="card border-white">
                        <h4>{{ trade.buyer.get_username|capfirst }}'s Shipping address:</h4>
                        {{ trade.requester_address.street }}
                        <br>
                        {{ trade.requester_address.city }}, {{ trade.requester_address.state }} {{ trade.requester_address.zip }}
                        <br><br>
                    </div>
                </div>
            {% endif %}
            <!-- Display seller's address, if specified -->
            {% if trade.seller_address and trade.accepted_handling_method == 'SH' and trade.trade_status == 'AC' %}
                <div class="row">
                    <div class="card border-white">
                        <h4>{{ trade.seller.get_username|capfirst }}'s Shipping address:</h4>
                        {{ trade.seller_address.street }}
                        <br>
                        {{ trade.seller_address.city }}, {{ trade.seller_address.state }} {{ trade.seller_address.zip }}
                        <br><br>
                    </div>
                </div>
            {% endif %}
        </div>

        <!-- If user is seller, show form to accept desired plant from buyer -->
        {% if request.user == trade.seller %}
            {% if trade.trade_status == 'SE' %}
                <div class="card-footer">
                    <form method="POST" action="{% url 'trade:trade_response' trade.pk %}" enctype="multipart/form-data" id="trade_response_form">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <h4>{{ trade.seller.get_username }}'s Trade Response</h4>
                        <h5>Choose a plant option:</h5>
                        {% for choice in trade_response_form.trade_response %}
                        <div id="response_choices" class="radio_buttons">
                            {{ choice }}
                        </div>
                        {% endfor %}
                        {% if trade_response_form.handling_methods %}
                        <div id="handling" style="display:none">
                            <br>
                            <h5>Choose a handling method:</h5>
                            {% for choice in trade_response_form.handling_methods %}
                            <div class="radio_buttons">
                                {{ choice }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if trade_response_form.seller_address %}
                        <div id="address_div" style="display:none">
                            <br>
                            <h5>Choose a shipping address:</h5>
                            {{ trade_response_form.seller_address | as_crispy_field }}
                            <a id="openAddressLink" href="{% url 'order:address_create' %}" target="popup" onclick="openAddressWindow()">Add new address</a>
                        </div>
                        {% endif %}
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn custom-btn" type="submit">Submit Response</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div> <!-- Trade request card end -->
</div>

<!-- Messages -->
<div class="container m-3">
    <div class="card">
        <!-- Header for Trade # and Trade Status -->
        <h6 class="card-header trade-card-header">
            <div class="row">
                <div class="col">
                    {% if trade.buyer == request.user %}
                        <h5>Messages with {{ trade.seller.get_username }}</h5>
                    {% else %}
                        <h5>Messages with {{ trade.buyer.get_username }}</h5>
                    {% endif %}
                </div>
            </div>
        </h6>

        <!-- show message if no trade items exist -->
        <div class="card-body">
            {% if message_list.all.count == 0 %}
            <p>No Messages</p>
            {% endif %}

            <div class="col m-2 align-self-center">
            {% for message in message_list %}
                <div class="col-md-12 my-1">
                    {% if message.sender == request.user %}
                    <div class="sent-message my-3">
                        <p>{{ message.sender.get_username }}: {{ message.message }}</p>
                    </div>
                    {% elif message.recipient == request.user %}
                    <div class="received-message my-3">
                        <p>{{ message.sender.get_username }}: {{ message.message }}</p>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            </div>
            <form method="POST" action="{% url 'trade:create_message' trade.pk %}" enctype="multipart/form-data">
                <div class="container-fluid">
                    {% csrf_token %}
                    {{ message_form | crispy }}
                </div>
                <div class="container d-flex justify-content-center m-3">
                    <button type="submit" class="btn custom-btn mt-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% else %}
    <h3>Login to see your trade</h3>
{% endif %}

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

<!-- show handling for trade requests with accepted radio select chosen --placeholder test hide/show-->
<script>
    function show_handling() {
        let trade_response_radio_buttons =
            document.getElementsByName('trade_response');
        let reject_button_index = trade_response_radio_buttons.length - 1;
        let reject_button_id = 'id_trade_response_'+ reject_button_index;
        let reject_button = document.getElementById(reject_button_id);
        let handling_div = document.getElementById('handling');
        let handling_choices = document.querySelectorAll('[id ^="id_handling_methods"]');
        let form = document.getElementById('trade_response_form').elements;
        let form_seller_address_field = form['seller_address'];
        for (let i=0; i < trade_response_radio_buttons.length; ++i) {
            let button = trade_response_radio_buttons[i];
            button.addEventListener('click', function() {
                if (button.checked) {
                    if (button == reject_button) {
                        handling_div.style.display = 'none';
                        handling_choices.forEach( function (choice) {
                            choice.required = false;
                            choice.checked = false;
                        })
                        form_seller_address_field.required = false;
                        get_addresses(false);
                    }
                    else if (button.value.substring(0, 2)=='AC') {
                        if (handling_div && handling_choices.length > 1) {
                            handling_div.style.display = 'block';
                            handling_choices.forEach( function (choice) {
                                choice.required = true;
                            })
                            get_addresses(false);
                        } else if (handling_div && handling_choices[0].value == 'SH') {
                            handling_div.style.display = 'block';
                            handling_choices.forEach( function (choice) {
                                choice.checked = true;
                            })
                            handling_div.hidden = true;
                            get_addresses(true);
                            form_seller_address_field.required = true;
                        } else {
                            get_addresses(false);
                        }
                    }
                }
            })
        }
    }

    // gets the addresses for the trade requester, adds an address drop-down field to the create trade form
    function get_addresses(show_addresses_bool) {
        // get the shipping_option element. It is always the first element with id starting with "id_handling_method"
        let shipping_option = document.querySelectorAll('[id ^="id_handling_methods"]')[0];
        let pickup_option = document.getElementById('id_handling_methods_1');
        let address_div = document.getElementById('address_div');
        let form_seller_address_field = document.getElementById('id_seller_address');

        // initial states
        if (!show_addresses_bool){
            address_div.style.display = 'none';
        } else {
            address_div.style.display = 'block';
        }
        if (shipping_option) {
            shipping_option.checked = false;
        }
        if (pickup_option) {
            pickup_option.checked = false;
        }
        form_seller_address_field.required = false;

        if (shipping_option) {
            shipping_option.addEventListener('change', function () {
                    shipping_option.required = true;
                    address_div.style.display = 'block';
                    form_seller_address_field.required = true;
            })

            if (pickup_option) {
                // if the shipping option is checked or unchecked, add the address_div to the DOM and make addresses required (checked) / not required (unchecked)
                pickup_option.addEventListener('change', function () {
                    address_div.style.display = 'none';
                    form_seller_address_field.required = false;
                })
            }
        }
    }

    // Opens new window to add a new address Form, refreshes page upon close
    let openAddressLink = document.getElementById('openAddressLink');
    function openAddressWindow() {
        let address_url = openAddressLink.href;
        window.open(address_url, 'window', 'toolbar=no, menubar=no, resizable=yes, width=600, height=600');
    }


    document.addEventListener("DOMContentLoaded", show_handling);
</script>

{% endblock content %}