{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.is_authenticated %}
<div class="container d-flex justify-content-center m-3">

    <div class="card">
        <!-- Header for Trade # and Trade Status -->
        <h6 class="card-header trade-card-header">
            <div class="row">
                <div class="col">
                    <h5>Trade #: {{ trade.pk }}</h5>
                </div>
                <div class="col d-flex justify-content-end">
                    <h5>Trade Status: {{ trade.get_trade_status_display }}</h5>
                    <!-- if the trade has been accepted, show accepted plant name and handling method -->
                    {% if trade.trade_status == 'AC' %}
                        {% for trade_item in trade_item_list %}
                            {% if trade_item.chosen_flag %}
                            <h5>Accepted Plant: {{ trade_item.user_plant.plant.scientific_name|capfirst }}</h5>
                            <h5>Handling: {{ trade.get_accepted_handling_method_display }}</h5>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </h6>

        <div class="card-body">
            <!-- show message if no trade items exist -->
            {% if trade_item_list.all.count == 0 %}
            <p>No Trade Items</p>
            {% endif %}

            <!-- Show the trade request -->
            <div class="container bg-white p-1 d-flex justify-content-center">
                <!-- Show what buyer is requesting from trader -->
                {% for trade_item in trade_item_list %}
                    {% if trade_item.user_plant.user == trade.seller %}
                        <div class="col m-2 align-self-center">
                            <p class="card-text text-center">
                                        {% if not trade_item.user_plant.is_for_pickup and not trade_item.user_plant.is_for_shipping %}
                                            <em>{{ trade.seller.get_username|capfirst }} has not specified a handling method</em>
                                        {% else %}
                                            Available for:
                                            {% if trade_item.user_plant.is_for_pickup %}
                                                <em>Pickup</em>
                                            {% endif %}
                                            {% if trade_item.user_plant.is_for_shipping %}
                                                {% if trade_item.user_plant.is_for_pickup %}
                                                <em>  |  </em>
                                                {% endif %}
                                                <em>Ship</em>
                                            {% endif %}
                                        {% endif %}
                                    </p>
                            <div class="card border-white">
                                <img class="card-img-top marketplace-plant-img px-0" src="{% if trade_item.user_plant.image_url != '' %} {{ trade_item.user_plant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
                                <div class="card-body px-0 text-center">
                                    <p class="card-text">{{ trade.buyer.get_username|capfirst }} is requesting a trade for {{ trade.seller.get_username|capfirst }}'s {{ trade_item.user_plant.plant.scientific_name|capfirst }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <!-- Trade arrows icon -->
                <div class="col px-3 align-self-center d-flex justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
                    </svg>
                </div>

                <!-- Show all plants buyer is offering -->
                <div class="col m-2">
                    <p class="card-text text-center">
                        Requested handling:
                        {% if trade.is_offered_for_pickup %}
                            <em>Pickup</em>
                        {% endif %}
                        {% if trade.is_offered_for_shipping %}
                            {% if trade.is_offered_for_pickup %}
                                <em>  |  </em>
                            {% endif %}
                            <em>Shipping</em>
                        {% endif %}
                    </p>
                    {% for trade_item in trade_item_list %}
                        {% if trade_item.user_plant.user == trade.buyer %}
                        <div class="row">
                            <div class="card border-white">
                                {% if trade_item.chosen_flag %}
                                <img src="{% static 'images/chosen_trade_plant.png' %}" style="position: absolute;" class="img-fluid rounded-start user-card-icon">
                                {% endif %}
                                <img class="card-img-top marketplace-plant-img px-0" src="{% if trade_item.user_plant.image_url != '' %} {{ trade_item.user_plant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
                                <div class="card-body px-0 text-center">
                                    <p class="card-text">{{ trade.buyer.get_username|capfirst }} is offering {{ trade_item.user_plant.plant.scientific_name|capfirst }}</p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- If user is seller, show form to accept desired plant from buyer -->
        {% if request.user == trade.seller %}
            {% if trade.trade_status == 'SE' %}
                <div class="card-footer">
                    <form method="POST" action="{% url 'trade:trade_response' trade.pk %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <h4>Choose a plant option:</h4>
                        {% for choice in trade_response_form.trade_response %}
                        <div class="radio_buttons">
                            {{ choice }}
                        </div>
                        {% endfor %}
                        {% if trade_response_form.handling_methods %}
                        <div id="handling" style="display: none">
                            <br>
                            <h4>Choose a handling method:</h4>
                            {% for choice in trade_response_form.handling_methods %}
                            <div class="radio_buttons">
                                {{ choice }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="d-grid gap-2 mt-3">
                            <button class="btn custom-btn" type="submit">Submit Response</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endif %}
    </div> <!-- Trade request card end -->
</div>



 <!-- Messages -->
<div class="container">
    <div class="row">
        <div class="card col-md-12 mt-5 p-3 shadow-sm">
           {% if trade.buyer == request.user %}
                <h5>Messages to @{{ trade.seller.get_username }}</h5>
            {% else %}
                <h5>Messages to @{{ trade.buyer.get_username }}</h5>
            {% endif %}
        </div>
    </div>

    {% if message_list.all.count == 0 %}
    <div class="row my-5">
        <div class="col-md-12">
            <p>No Messages</p>
        </div>
    </div>
    {% endif %}

    {% for message in message_list %}
    <div class="row">
        <div class="col-md-12 my-1">
            {% if message.sender == request.user %}
            <div class="sent-message my-3">
                <p>{{ message.sender.get_username }}: {{ message.message }}</p>
            </div>
            {% elif message.recipient == request.user %}
            <div class="received-message my-3">
                <p>{{ message.sender.get_username }}: {{ message.message }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form method="POST" action="{% url 'trade:create_message' trade.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2 mt-3">
                    {{ message_form }}
                    <button class="btn btn-light" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% else %}
    <h3>Login to see your trade</h3>
{% endif %}

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

<!-- show handling for trade requests with accepted radio select chosen --placeholder test hide/show-->
<script>
function show_handling() {
    let trade_response_radio_buttons =
        document.getElementsByName("trade_response");
    let reject_button_index = trade_response_radio_buttons.length - 1;
    let reject_button_id = 'id_trade_response_'+ reject_button_index;
    let reject_button = document.getElementById(reject_button_id);
    let handling_div = document.getElementById("handling");
    if (reject_button.checked){
            handling_div.style.display = "none";
    }else {
        handling_div.style.display = "block";
    }
}
</script>

{% endblock content %}