<div class="card shadow-sm my-3">
    <h6 class="card-header trade-card-header">
        <div class="row">
            <div class="col">
                Trade #: {{trade.pk}}
            </div>
            <div class="col">
                Status: {{trade.get_trade_status_display}}
            </div>
        </div>
    </h6>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h6>Seller: 
                    {% if trade.seller.get_username == None %}
                    Deleted User
                    {% else %}
                    {{ trade.seller.get_username|capfirst }}
                    {% endif %}
                </h6>
            </div>
            <div class="col">
                <h6> Buyer: 
                    {% if trade.buyer.get_username == None %}
                    Deleted User
                    {% else %}
                    {{ trade.buyer.get_username|capfirst }}
                    {% endif %}
                </h6>
            </div>
            
        </div>
        <a class="stretched-link" href="{{ trade_detail_url }}"></a>
    </div>
    <div class="card-footer text-muted">
        {% if trade.trade_status != 'UN' %}
            Response Date: {{ trade.response_date }}
        {% else %}
            Plant is temporarily out of stock
        {% endif %}
    </div>
</div>