/* global styles */
.btn {
    background-color: #00b3a1;
    border: #00b3a1;
}

.btn:hover {
    background-color: #b1d60d;
}

a.navbar-brand span:hover {
    color: #00b3a1;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #00b3a1;
}

div.collapse.navbar-collapse {
    margin-right: 1.5rem;
}

li.nav-item {
    padding-left: 1.5rem;
    padding-right: 2rem;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
}

span.h-text {
    color: #b1d60d;
}
