{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <div class="row">
        <div class="card col-md-12 mt-5 p-3 shadow-sm">
           {% if thread.recipient == request.user %}
                <h5>@{{ thread.user.get_username }}</h5>
            {% else %}
                <h5>@{{ thread.recipient.get_username }}</h5>
            {% endif %}
        </div>
    </div>
    {% if message_list.all.count == 0 %}
    <div class="row my-5">
        <div class="col-md-12">
            <p>No Messages</p>
        </div>
    </div>
    {% endif %}

    {% for message in message_list %}
    <div class="row">
        <div class="col-md-12 my-1">
            {% if message.sender == request.user %}
            <div class="sent-message my-3">
                <p>{{ message.sender.get_username }}: {{ message.message }}</p>
            </div>
            {% elif message.recipient == request.user %}
            <div class="received-message my-3">
                <p>{{ message.sender.get_username }}: {{ message.message }}</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="row">
        <div class="card col-md-12 p-3 shadow-sm">
            <form method="POST" action="{% url 'trade:create-message' thread.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-light" type="submit">Send Message</button>
                </div>
            </form>
        </div>
    </div>

    {% else %}
        <h3>Login to see your conversation</h3>
    {% endif %}
</div>
{% endblock content %}