{% extends 'base.html' %} 

{% load static %}
{% block content %}

{% if title %}
<h2>{{ title }}</h2>
{% endif %}


<div class="container my-3">
    <div class="card">
      <div class="card-body pb-0">
        <h3 class="card-title">{{ object.scientific_name }}</h3>
        <h4 class="card-subtitle text-muted">Common names:
            <span>
                {% for name in common_names %}
                {{ name }},
                {% endfor %}
            </span>
        </h4>
        <h5 class="mt-3 my-0">Description:</h5>
        <p class="card-text mb-2">
            {{ object.description }}
        </p>

        <h5 class="mt-3 my-0">Plant Care:</h5>
        <p class="card-text mb-2">
            {{ object.plant_care }}
        </p>

        <!-- Allow authenticated user to edit the plant details -->
        {% if user.is_authenticated %}
        <div class="card-footer bg-white mb-0" style="display: flex;">
            <a href="{{ object.get_update_url }}" class="btn custom-btn">Edit Plant</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>
{% endblock %}