{% extends 'base.html' %} 
{% load static %}

{% block content %}

{% if title %}
<h2>{{ title }}</h2>
{% endif %}


<div class="container my-2">
  <h4>{{ object_list|length}} Results</h4>
  <div class="btn-group my-2">
      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter by tag
      </button>
      <ul class="dropdown-menu">
          <div class=""></div>
      </ul>
  </div>
  <div class="row mx-auto">
    {% for object in object_list %}
    <div class="col-sm-6">
      <div class="card border-light my-2">
          <img class="card-img-top marketplace-plant-img" src="{% if object.userplant.image_url != '' %} {{ object.userplant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
          <div class="card-body">
              <h6 class="card-subtitle my-1" style="display: inline-block; white-space: nowrap;">
                <a 
                href="{% if marketplace %} 
                        {% url 'plant:marketplace_plant_detail' object.userplant.pk %}
                      {% else %}
                        {% url 'plant:userplant_detail' object.userplant.pk %}
                      {% endif %}">
                    {{ object.userplant.plant.scientific_name }}
                </a>
              </h6>
              <h6 class="plant-price my-1">${{ object.userplant.unit_price }}</h6>
              <div class="tags my-2">
                  <span class="badge rounded-pill bg-light text-dark fw-light">Pet-friendly</span>
                  <span class="badge rounded-pill bg-light text-dark fw-light">Easy care</span>
              </div>
              <p class="plant-card-text">
                  Seller: {{ object.userplant.user.username }}
                  <br>
                  Location: {{ object.location }}
              </p>
          </div>
          {% if marketplace and user.is_authenticated %}
          <div class="card-footer bg-white" style="display: flex;">
              {% if object.userplant.is_for_sale %}
              <a href="#" class="bst-link">Buy</a>
              {% else %}
              <span class="disabled-buy">Buy</span>
              {% endif %}
              {% if object.userplant.is_for_trade %}
              <a href="#" class="bst-link">Trade</a>
              {% else %}
              <span class="disabled-trade">Trade</span>
              {% endif %}
              <a href="{% url 'plant:plant_detail' object.userplant.plant.pk %}" class="bst-link">Info</a>
          </div>
          {% elif not marketplace and user.is_authenticated %}
          <div class="card-footer bg-white" style="display: flex;">
            <a href="{{ object.userplant.get_update_url }}" class="btn custom-btn" >Edit</a>
            <a href="{{ object.userplant.get_delete_url }}" class="btn btn-danger" >Delete</a>
          </div>
          {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% if user.is_authenticated %}
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
        <a href="{% url 'plant:userplant_create' %}">
            Add New Plant
        </a>
    </h5> 
  </div>
</div>
{% endif %}




{% endblock %}