{% extends '../base.html' %} 

{% block title %}Sign Up - {{ block.super }}{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="card user-form mx-auto my-2">
    <div class="card-body">
        <h2>Sign Up</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <!-- {{ form.as_p }} -->
            <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
    </div>
  </div>


<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

{% endblock %}
