/* global styles */
.custom-btn {
    background-color: #00b3a1;
    border: #00b3a1;
    color: white;
}

.custom-btn:hover {
    background-color: #b1d60d;
}

a.navbar-brand span:hover,
.navbar-nav .nav-item:hover .nav-link,
a.dropdown-item:hover {
    color: #00b3a1;
}

div.collapse.navbar-collapse {
    margin-right: 1.5rem;
}

li.nav-item {
    padding-left: 0.5rem;
    padding-right: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
}

span.h-text {
    color: #b1d60d;
}

div.decorative-bg-div {
    height: 90%;
    width: 35%;
    background-color: #e4ff8c;
    position: fixed;
    top: 0;
    right: 0;
    /* put the stylistic green div behind everything */
    z-index: -1;
}

.card.user-form {
    width: 35rem;
}