{% extends './base.html' %} {% block content %}


<div class="home-container">
    <div class="row">
      <div class="col">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Buy, Sell, and Trade <span class="home-title">House Plants</span></h1>
            <p class="lead">We are an online hub for house plant enthusiasts to share and learn about house plants.</p>
            <br>
            <p class="lead">Are you ready to join our community?</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-secondary">Get Started</a>
              <a href="#" class="learn-more">Learn More</a>
            </p>
        </main>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

<div class="home-background-div"></div>


{% endblock %}
