{% extends 'base.html' %} 
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="card user-form mx-auto my-2">
    <div class="card-body">
        <h2><span class="h-text">{{ title }}</span> Plant</h2>
        <div>
            BASIC INFO ABOUT PLANT HERE - NEED TO ADD
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <table class="table table-borderless">
                {{ order_item_form.management_form|crispy }}
                {% for form in order_item_form.forms %}
                    <label class="form-label">Quantity</label>
                    <div class="row g-3">
                        <div class="col-md-3">
                            {{ form.quantity }}
                        </div>
                        <div class="col-auto">
                            <span id="max_quantity" 
                                  data-bs-max_quantity="{{ userplant.quantity }}" 
                                  class="form-text">
                                  {{ userplant.quantity }} available
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </table>

            <label class="form-label">Ship to address:</label>
            <table class="table table-borderless">
                {{ address_form.management_form|crispy }}
                {% for form in address_form.forms %}
                        {% for field in form.visible_fields %}
                                {# Include the hidden fields in the form #}
                                {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}
                                {% endif %}
                                {{ field.errors.as_ul }}
                                {{ field|as_crispy_field }}
                        {% endfor %}
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-primary custom-btn">Place Order</button>
            <button type="button" class="btn btn-secondary" onclick="goBack()">Cancel</button>
        </form>
    </div>
</div>


<script type="text/javascript">
    function updateQuantityMax() {
        // get max quantity from span attribute (which is populated from UserPlant max quantity)
        let quantitySpan = document.getElementById('max_quantity')
        let maxQuantity = quantitySpan.getAttribute('data-bs-max_quantity')
        console.log(maxQuantity)
        // update max quantity of Form's number input selector
        var quantityField = document.getElementById("quantity_field")
        quantityField.max = maxQuantity
    }

    window.onload = updateQuantityMax()

    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}