{% extends 'base.html' %} 
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="card user-form mx-auto my-2">
    <div class="card-body">
        <h2><span class="h-text">{{ title }}</span></h2>
        <div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <img class="card-img-top marketplace-plant-img" src="{% if userplant.image_url != '' %} {{ userplant.image_url}} {% else %} {% static 'images/default_userplant_image.png' %} {% endif %}" alt="Card image cap">
                </div>
                <div class="col-5">
                    <div class="row">
                        <h5>{{ userplant.plant.scientific_name|capfirst }}</h5>
                    </div>
                    <div class="row">
                        <p class="text-muted">
                            Seller: {{ userplant.user|capfirst }}<br>
                            Location: {{ userplant.user.location|capfirst }}
                        </p>  
                    </div>
                </div>
                <div class="col d-flex justify-content-end">
                    <h5 class="plant-price">$<span id="unit-price">{{ userplant.unit_price }}</span></h5>
                </div>
            </div>
        </div>
        <hr>


        <form action="" method="post">
            <div>

            {% csrf_token %}
            {{ form|crispy }}
            <a id="openAddressLink" href="{% url 'order:address_create' %}" target="popup"
                onclick="openAddressWindow()">Add new address</a>
            </div>
            <br>
            <table class="table table-borderless">
                {{ order_item_form.management_form|crispy }}
                {% for form in order_item_form.forms %}
                    <label class="form-label">Quantity</label>
                    <div class="row g-3">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <div class="col-md-3">
                            {{ form.quantity }}
                        </div>
                        <div class="col-auto">
                            <span id="max_quantity" 
                                data-bs-max_quantity="{{ total_quantity }}" 
                                class="form-text">
                                {{ total_quantity }} available
                            </span>
                        </div>
                    </div>
                {% endfor %}
            </table>

            <!-- Show running total for Order -->
            <hr>
            <div class="row">
                <div class="col">
                    <p>Total:</p>
                </div>
                <div class="col">
                    <p id="running_total">{{ userplant.unit_price }}</p>
                </div>
            </div>

            {% if not update %}
            <button type="submit" class="btn btn-primary custom-btn">Place Order</button>
            <button type="button" class="btn btn-secondary" onclick="goBack()">Cancel</button>
            {% else %}
            <button type="submit" class="btn btn-primary custom-btn">Save Changes</button>
            <button type="button" class="btn btn-secondary" onclick="goBack()">Cancel Edit</button>
            <button type="button" class="btn btn-danger ">Cancel Order</button>
            {% endif %}
        </form>
    </div>
</div>

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

<script type="text/javascript">
    function updateQuantityMax() {
        // get max quantity from span attribute (which is populated from UserPlant max quantity)
        let quantitySpan = document.getElementById('max_quantity')
        let maxQuantity = quantitySpan.getAttribute('data-bs-max_quantity')
        console.log(maxQuantity)
        // update max quantity of Form's number input selector
        var quantityField = document.getElementById("quantity_field")
        quantityField.max = maxQuantity
    }

    window.onload = updateQuantityMax()

    function openAddressWindow() {
        openAddressLink = document.getElementById('openAddressLink');
        url = openAddressLink.href;
        window.open(url, 'window', 'toolbar=no, menubar=no, resizable=yes, width=600, height=600');
    }

    function goBack() {
        window.history.back();
    }
</script>


{% endblock %}