{% extends 'base.html' %} 
{% load static %}

{% block content %}

{% if title %}
<h2>{{ title }}</h2>
{% endif %}


<h3>My Plant Purchases</h3>
<div class="container my-3">
    <div class="row row-cols-2 row-cols-md-2 g-4">
        {% for object in object_list %}
        {% if object.buyer == user %}
        <div class="col">
            <div class="card card-link h-100">
                <a href="" class="card-link">
                    <div class="card-body">
                        <h4 class="card-title">
                            Order ID {{ object.id }}
                        </h4>
                        {% for item in object.get_order_items.all %}
                        <p class="card-text text-muted">
                            {{ item.user_plant.plant.scientific_name }}
                        </p>
                        <p class="card-text text-muted">
                            quantity {{ item.quantity }}
                        </p> 
                            {% endfor %}
                    </div>
                </a> 
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<h3>My Sold Plants</h3>
<div class="container my-3">
    <div class="row row-cols-2 row-cols-md-2 g-4">
        {% for object in object_list %}
        {% if object.seller == user %}
        <div class="col">
            <div class="card card-link h-100">
                <a href="" class="card-link">
                    <div class="card-body">
                        <h4 class="card-title">
                            Order ID {{ object.id }}
                        </h4>
                        {% for item in object.get_order_items.all %}
                        <p class="card-text text-muted">
                            {{ item.user_plant.plant.scientific_name }}
                        </p>
                        <p class="card-text text-muted">
                            quantity {{ item.quantity }}
                        </p> 
                            {% endfor %}
                    </div>
                </a> 
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>




{% endblock %}