{% extends 'base.html' %} 
{% load static %}

{% block head %}
{% endblock %}

{% block content %}

{% if title %}
<h2>{{ title }}</h2>
{% endif %}


<h3>My Plant Purchases</h3>
<div class="container my-3">
    <h5>New Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.buyer == user and object.status == 'CR' %}
                {% include 'order/order_snippet.html' with url=object.get_buyer_detail_url %}
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h5>In Progress Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.buyer == user and object.status == 'IN' %}
                {% include 'order/order_snippet.html' with url=object.get_buyer_detail_url %}
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h5>Completed Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.buyer == user %} 
                {% if object.status == 'CO' or object.status == 'SH' %}
                {% include 'order/order_snippet.html' with url=object.get_buyer_detail_url %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<br>
<h3>My Sold Plants</h3>
<div class="container my-3">
    <h5>New Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.seller == user and object.status == 'CR' %}
                {% include 'order/order_snippet.html' with url=object.get_seller_detail_url %}
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h5>In Progress Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.seller == user and object.status == 'IN' %}
                {% include 'order/order_snippet.html' with url=object.get_seller_detail_url %}
            {% endif %}
        {% endfor %}
    </div>
    <hr>
    <h5>Completed Orders</h5>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        {% for object in object_list %}
            {% if object.seller == user %} 
                {% if object.status == 'CO' or object.status == 'SH' %}
                {% include 'order/order_snippet.html' with url=object.get_seller_detail_url %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>




{% endblock %}