{% extends '../base.html' %} 

{% block title %}Profile - {{ block.super }}{% endblock %}

{% load static %}

{% block content %}

<h2>My Account</h2>
<div class="container">
    <div class="row row-cols-2">
        <div class="col">
            <!-- User Profile card -->
            <div class="card text-center">
              <div class="card-body">
                <h2>My<span class="h-text"> Profile</span></h2>
                <p class="card-text">
                  {{ user.username }}
                  <br>
                  {{ user.first_name }}
                  <br>
                  {{ user.last_name }}
                  <br>
                  {{ user.email }}
                  <br>
                  {{ user.location }}
                </p>
                <a href="{% url 'user:update_user' %}" class="btn btn-primary custom-btn">Update Profile</a>
              </div>
            </div>
        </div>

        <!-- Order History card link -->
        <div class="col">
          <div class="row">
            <div class="card card-link text-center">
              <a href="{% url 'trade:list_trades' %}" class="card-link">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img src="{% static 'images/orders_icon.png' %}" class="img-fluid rounded-start user-card-icon">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body px-0">
                        <h3 class="card-title">Order History</h3>
                        <p class="card-text text-muted">Track your orders and trades</p>
                      </div>
                    </div>
                  </div>
              </a>
            </div>
          </div>

          <!-- User Plant Marketplace card link -->
          <div class="row my-3">
            <div class="card card-link text-center">
              <a href="{% url 'plant:userplant_all' %}" class="card-link">
                  <div class="row g-0">
                    <div class="col-md-3">
                      <img src="{% static 'images/navbar_icon.png' %}" class="img-fluid rounded-start user-card-icon">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body px-0">
                        <h3 class="card-title">My <span class="h-text">Plant </span>Marketplace</h3>
                        <p class="card-text text-muted">View and edit your plant marketplace</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>

<!-- Decorative green block div in background -->
<div class="decorative-bg-div"></div>

{% endblock %}
